/* Kuchendiagramm Themen */

body {
  min-width: 1100px;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: all;
  text-anchor: middle;
}

#themenBearbeiten{
  padding: 20px;
  width: 40%;
  float: left;
}

svg{
  width: 60% !important;
  float: left;
}