<!DOCTYPE html>
<html lang="en">

<head>

  <title>LearnAzur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../public/assets/imgs/logoBlau.png" />

  
  <!-- JQUERY -->
  <script src="../public/script/jquery-latest.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../public/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script src="../public/script/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="../public/css/bootstrap-icons.css">
  
  <!-- CSS -->
  <link href="../public/css/style.css" rel="stylesheet" type="text/css" />
  <!-- JS -->
  <script type="text/javascript" src="../public/script/script.js"></script>


  <link href="../public/css/login.css" rel="stylesheet" type="text/css" />


</head>

<body>
  <div id="page">
    <div id="header">
      <div id="headerLogo"><a href="home"><img src="../../public/assets/imgs/logoWeiss.png" /></a>
      </div> 
      <div id="headerName"><a href="home">LearnAzur</a></div>
      <!-- Suchen -->
      <div id="headerSearch" class="input-group">
        
      </div>
     
    </div>
    <div id="sidebar2">
        
    </div>

    <div id="content">

        <div class="container-fluid" style="text-align:center; width: 50%;">
            <br>
            <h2>
                <p>Login</p>
            </h2>
            <form method="post" action="/login">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="form px-4 pt-5">
                            <input type="email" name="email" class="form-control" placeholder="E-Mail" required>
                            <input type="password" name="password" class="form-control" placeholder="Passwort" required>

                            <input class="btn btn-primary" type="submit" name="Senden" />  
                            <p><a href="/register">Registrieren</a> </p> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- page ende -->
    </div>
    </body>

    </html>